name: "Main"

on:
  push:

jobs:
  test:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Install just
        uses: extractions/setup-just@v3
      - name: Install uv
        uses: astral-sh/setup-uv@v6
      - name: Install sqlc
        run: |
          curl -sSL https://github.com/sqlc-dev/sqlc/releases/download/v1.28.0/sqlc_1.28.0_linux_amd64.tar.gz | tar xz
          sudo mv sqlc /usr/local/bin/
      - name: Run lint
        run: just lint
      - name: Run test
        run: just test
  publish:
    if: startsWith(github.event.ref, 'refs/tags/v')
    needs: test
    runs-on: ubuntu-latest
    environment:
      name: pypi
    permissions:
      id-token: write
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Install uv
        uses: astral-sh/setup-uv@v6
      - name: Build
        run: uv build
      - name: Publish
        run: uv publish
